@media (max-width: 768px) {
    .resume-container {
        width: 75%;
        padding: 1.5rem;
        margin: 40px auto;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.658);
    }
    .header {
        flex-direction: column;
        text-align: center;
    }
    
    .pdf_button{
      display: none;
    }

    .pdf-container {
        padding: 2rem 0 0 0;
    }

    .header-info {
      margin-left: 0;
      margin-top: 1rem;
    }
    
    .two-columns {
      grid-template-columns: 1fr;
    }
    
    .projects {
      grid-template-columns: 1fr;
    }
  
    .languages, .certificates, .hobbies {
      grid-template-columns: 1fr;
    }
  }

  